.nav {
  height: 100vh;
  width: 30rem;
  background-color: $navigation_bg;
  color: $navigation_fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -100rem;
  grid-column: 1/2;

  &__containerOne {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__logo {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.35rem;
      &-list:not(:last-child) {
        padding-bottom: 2rem;
      }
    }
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 100%;
      font-size: 1.2rem;
      &-item {
        justify-self: center;
        padding: 0.5rem 0;
        align-self: center;
      }
      .facebook {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        padding: 0 1rem;
        font-size: 1.6rem;
      }
      .instagram {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: start;
        padding: 0 1rem;
        font-size: 1.6rem;
      }
      .address {
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: center;
      }
      .phone {
        grid-column: 1/3;
        grid-row: 3/4;
      }
    }
    a {
      color: $navigation_fc;
    }
  }
  &__containerTwo {
    height: 14vh;
    width: 100%;
    background-color: $navigation_fc;
    display: flex;
    color: $navigation_bg;
    cursor: pointer;
    position: relative;
    padding: 1rem;
    &:hover .button::after,
    &:hover .button::before {
      width: 50%;
    }
    &:hover .button span:nth-child(1),
    &:hover .button span:nth-child(2),
    &:hover .button span:nth-child(3),
    &:hover .button span:nth-child(4) {
      animation: none;
    }
    .button {
      overflow: hidden;
      height: 100%;
      width: 100%;
      border: solid 0.15rem lighten($color: $navigation_bg, $amount: 65);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        transition: all 1s ease-in-out;
      }
      &:before {
        left: 50%;
      }
      &::after {
        right: 50%;
      }
      span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        height: 0.3rem;
        width: 100%;
        background: lighten($navigation_bg, 10);
        animation: animate-top 2s linear infinite;
      }
      span:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0.3rem;
        background: lighten($navigation_bg, 10);
        animation: animate-right 2s linear infinite;
        animation-delay: 1s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.3rem;
        width: 100%;
        background: lighten($navigation_bg, 10);
        animation: animate-bottom 2s linear infinite;
      }
      span:nth-child(4) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0.3rem;
        background: lighten($navigation_bg, 10);
        animation: animate-left 2s linear infinite;
        animation-delay: 1s;
      }
    }
  }
}
// window load add class for navigation drop in
.drop {
  transition: all 1.6s ease-in;
  position: fixed;
  top: 0;
}

// animation keyframes
@keyframes animate-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes animate-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
