.nav__mobile {
  height: $m_menu_height;
  width: 100vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: $navigation_bg;
  display: none;
  z-index: 3;
  position: fixed;

  @include respond(tab-port) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 1/2;
  }
  &-toggle {
    height: 8vh;
    width: 8vh;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    position: relative;
    .line {
      height: 0.2rem;
      width: 50%;
      background-color: $navigation_fc;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .line1 {
      top: 65%;
    }
    .line2 {
      top: 35%;
    }
    .line3 {
    }
    // position: absolute;
    // top: 0%;
    // left: 0%;
    // transform: translate(50%, 50%);
  }
  &-title {
    color: $navigation_fc;
    font-size: 2.4rem;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
}
// drop down nav container one
.stop {
  top: 0;
  @include respond(tab-port) {
    top: $m_menu_height !important;
  }
}

.nav__containerOne {
  grid-column: 1/2;
  grid-row: 1/2;
  height: calc(100vh - #{$nav_button_height});
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $navigation_bg;
  color: $navigation_fc;
  position: absolute;
  position: fixed;
  @include respond(tab-port) {
    height: calc(100vh - #{$m_menu_height} - #{$m_nav_button_height});
    width: 100%;
    justify-content: space-around;
    top: -100rem;
    transition: all 0.5s;
    z-index: 2;
  }
  @include respond(phone) {
    overflow: scroll;
  }
  &__logo {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    @include respond(tab-port) {
      display: none;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    &-list {
      @include respond(tab-port) {
        padding: 5rem;
      }
      @include respond(phone) {
        padding: 1.5rem;
      }
    }
    &-list a {
      padding: 0.3rem 0;
      //border-top: 0.1rem solid white;
      //border-bottom: 0.1rem solid white;
      @include respond(tab-port) {
        border: none;
      }
    }
    &-list:not(:last-child) {
      padding-bottom: 4rem;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 0.25rem;
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;

    &-item {
      justify-self: center;
      padding: 0.5rem 0;
      align-self: center;
    }
    .facebook {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: end;
      padding: 0 1rem;
      font-size: 1.6rem;
    }
    .instagram {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: start;
      padding: 0 1rem;
      font-size: 1.6rem;
    }
    .address {
      grid-column: 1/3;
      grid-row: 2/3;
      text-align: center;
    }
    .phone {
      grid-column: 1/3;
      grid-row: 3/4;
    }
  }
  a {
    color: $navigation_fc;
  }
}

.nav__containerTwo {
  height: $nav_button_height;
  width: 30rem;
  background-color: $navigation_fc;
  display: flex;
  color: $navigation_bg;
  cursor: pointer;
  padding: 1rem;
  z-index: 2;
  position: fixed;
  top: calc(100vh - #{$nav_button_height});
  @include respond(tab-port) {
    height: $m_nav_button_height;
    top: calc(100vh - #{$m_nav_button_height});
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    position: fixed;
  }

  .button {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: solid 0.15rem lighten($color: $navigation_bg, $amount: 65);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    @include respond(tab-port) {
      border: none;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out;
      @include respond(tab-port) {
        display: none;
      }
    }
    &:before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    span {
      @include respond(tab-port) {
        display: none;
      }
    }
    span:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      height: 0.3rem;
      width: 100%;
      background: lighten($navigation_bg, 10);
      animation: animate-top 2s linear infinite;
    }
    span:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0.3rem;
      background: lighten($navigation_bg, 10);
      animation: animate-right 2s linear infinite;
      animation-delay: 1s;
    }
    span:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.3rem;
      width: 100%;
      background: lighten($navigation_bg, 10);
      animation: animate-bottom 2s linear infinite;
    }
    span:nth-child(4) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.3rem;
      background: lighten($navigation_bg, 10);
      animation: animate-left 2s linear infinite;
      animation-delay: 1s;
    }
  }
  &:hover .button::after,
  &:hover .button::before {
    width: 50%;
  }
  &:hover .button span:nth-child(1),
  &:hover .button span:nth-child(2),
  &:hover .button span:nth-child(3),
  &:hover .button span:nth-child(4) {
    animation: none;
  }
}

// animation keyframes
@keyframes animate-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes animate-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
