.nav {
  height: 100vh;
  min-width: 30rem;
  //width: 20vw;
  background-color: $navigation_bg;
  color: $navigation_fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -100rem;

  &__containerOne {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__logo {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.35rem;
      &-list:not(:last-child) {
        padding-bottom: 2rem;
      }
    }
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 100%;
      font-size: 1.2rem;
      &-item {
        justify-self: center;
        padding: 0.5rem 0;
      }
      .facebook {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        padding: 0 1rem;
        font-size: 1.6rem;
      }
      .instagram {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: start;
        padding: 0 1rem;
        font-size: 1.6rem;
      }
      .address {
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: center;
      }
      .phone {
        grid-column: 1/3;
        grid-row: 3/4;
      }
    }
    a {
      color: $navigation_fc;
    }
  }
  &__containerTwo {
    height: 14vh;
    width: 100%;
    background-color: $navigation_fc;
    display: flex;
    padding: 1rem;
    color: $navigation_bg;
    cursor: pointer;
    position: relative;
    &:hover .button::after,
    &:hover .button::before {
      width: 50%;
    }
    .button {
      height: 100%;
      width: 100%;
      border: solid 0.15rem lighten($color: $navigation_bg, $amount: 65);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 1s ease-in-out;
      }
      &:before {
        left: 15rem;
      }
      &::after {
        right: 15rem;
      }
    }
  }
}
.drop {
  transition: all 1.6s ease-in;
  position: fixed;
  top: 0;
}
