// Navigation
$navigation_bg: #303030;
$navigation_fc: #f1ebda;

$m_menu_height: 8rem; // mobile height for navbar
$nav_button_height: 10rem; // nav button height
$m_nav_button_height: 4.5rem; // mobile nav button height
