.landingPage {
  display: grid;
  grid-template-columns: 30rem auto;
  grid-template-rows: 86vh 14vh;
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 85.5vh 6.5vh;
  }
}
.pagetwo {
  height: 100vh;
  background-color: black;
}
